permit_join: false
homeassistant: false
mqtt:
  base_topic: ${ZIGBEE2MQTT_TOPIC}
  server: 'mqtt://${MQTT_HOST}'
  # user: my_user
  # password: my_password

serial:
  port: /dev/ttyACM0
  #port: tcp://192.168.17.31:20108

devices: devices.yaml

frontend:
  port: 8080
experimental:
  new_api: true


advanced:
  cache_state: false
  log_directory: /tmp/zigbee2mqtt/
  network_key: [1, 2, 3, 4, 5, 6, 77, 88, 99, 98, 67, 66, 65, 64, 63, 92]

