
# mqtt broker address. If you are using another mqtt broker than embedded one, specify its address (and remove mqtt broker section from bridge.yml)
MQTT_HOST=localhost

# mqtt broker port. Default 1883
MQTT_PORT=1883

# mqtt topic which will be send to loxone as udp packet
MQTT_TO_LOXONE_TOPIC=lox_in

# mqtt prefix for messages coming from loxone to mqtt
LOXONE_TO_MQTT_TOPIC=lox_out

# loxone address
LOXONE_ADDRESS=192.168.1.2

# loxone username. You could create special user for mqtt bridge. Remember that bridge see only those loxone elements that user see in web interface.
LOXONE_USERNAME=foo

# password for loxone user
LOXONE_PASSWORD=faa

# udp port where specified mqtt messages will be send to
LOXONE_UDP_PORT=4444

# set to 1 if you want to see debug messages
DEBUG=0
